<div class="home-row">
	<h3>Section 1</h3>
	<a class="home-module" href="#/learn/ai/0/">
		<p>Week 1</p>
	</a>
	<a class="home-module" href="#/learn/ai/1/">
		<p>Week 2</p>
	</a>
</div>
<div class="home-row">
	<h3>Section 2</h3>
	<a class="home-module" href="#/learn/ai/2/">
		<p>Week 3</p>
	</a>
	<a class="home-module" href="#/learn/ai/3/">
		<p>Week 4</p>
	</a>
</div>
<div class="home-row">
	<h3>Section 3</h3>
	<a class="home-module" href="#/learn/ai/4/">
		<p>Week 5</p>
	</a>
	<a class="home-module" href="#/learn/ai/5/">
		<p>Week 6</p>
	</a>
</div>
<div class="home-row">
	<h3>Section 4</h3>
	<a class="home-module" href="#/learn/ai/6/">
		<p>Week 7</p>
	</a>
	<a class="home-module" href="#/learn/ai/7/">
		<p>Week 8</p>
	</a>
</div>