<div class="home-row">
	<h3>Section 1</h3>
	<a class="home-module home-module-complete" href="#/learn/1/">
		<p>Module 1: Example Lesson Module</p>
	</a>
	<a class="home-module home-module-progress" href="#/learn/2/">
		<p>Module 2: Example Project Module</p>
	</a>
</div>
<div class="home-row">
	<h3>Section 2</h3>
	<a class="home-module" href="#/learn/3/">
		<p>Module 3: Insert Title</p>
	</a>
	<a class="home-module" href="#/learn/4/">
		<p>Module 4: Insert Title</p>
	</a>
	<a class="home-module" href="#/learn/5/">
		<p>Module 5: Insert Title</p>
	</a>
</div>
<div class="home-row">
	<h3>Section 3</h3>
	<a class="home-module" href="#/learn/6/">
		<p>Module 6: Insert Title</p>
	</a>
</div>