<div class="home-row">
	<h3>Section 1</h3>
	<a class="home-lesson home-lesson-complete" href="#/learn/0/">
		<p>Lesson 0: Insert Title</p>
	</a>
	<a class="home-lesson home-lesson-progress" href="#/learn/1/">
		<p>Lesson 1: Insert Title</p>
	</a>
</div>
<div class="home-row">
	<h3>Section 2</h3>
	<a class="home-lesson" href="#/learn/2/">
		<p>Lesson 2: Insert Title</p>
	</a>
	<a class="home-lesson" href="#/learn/3/">
		<p>Lesson 3: Insert Title</p>
	</a>
	<a class="home-lesson" href="#/learn/4/">
		<p>Lesson 4: Insert Title</p>
	</a>
</div>
<div class="home-row">
	<h3>Section 3</h3>
	<a class="home-lesson" href="#/learn/5/">
		<p>Lesson 5: Insert Title</p>
	</a>
</div>