<div id="menu">
    <%
     var moduleData = await fetch("/data/module_index.json");
     moduleData = await moduleData.json();
     var actions = moduleData.actions
     var data = {}
     window.menuData = {};

     for (let p = 0; p<Object.entries(actions).length; p++) {
        var key = Object.entries(actions)[p][0]
        var value = Object.entries(actions)[p][1]
        data[value] = []
        var totalPages = 0;
        var userPages = 0;
        let count = moduleData[value].module_meta_data.length
        var modules = []
        for (let i = 0; i < count; i++) {
            let module = moduleData[value].module_meta_data[i]
            let modulePosition = await DB.getModulePosition(value, i);

            data[value].push(modulePosition)
            modules.push({
                currentUserPosition: modulePosition,
                moduleLength: module.moduleLength,
                title: module.name
            });
            let length = module.moduleLength;
            totalPages += length;
        }
        if (!data[value]) {
            window.menuData[value] = {
                totalPages: totalPages,
                userPages: 0,
                data: modules
            }
        } else {
            data[value].forEach(element => {
                if (element !== null) userPages += element
            })
            window.menuData[value] = {
                totalPages: totalPages,
                userPages: userPages,
                data: modules
            }
        }
     }
     console.log(window.menuData)
    %>
    <span id="menu-icon" class="codicon codicon-checklist" onclick="showMainMenu()"></span>
    <div id="menu-wrapper" class="closed">
        <span style="font-size: 2.5em; font-weight: bold; display: block; text-align: center;">Dashboard</span>
        <span style="font-size: 1.1em; font-weight: bold; display: block; text-align: center;">Your Overall Progress through the Devnetic Cirriculum</span>
        <div class="pie-chart-container" style="display: flex; justify-content: space-evenly;">
            <% Object.entries(actions).forEach(([key, value]) => { %>
            <div onclick="document.querySelector('.menu-item-id-<%-value%>').scrollIntoView();document.getElementById('menu-wrapper').scrollTop = document.getElementById('menu-wrapper').scrollTop-110" class="menu-track-wrapper" style="display: inline-block; margin-top: 25px; cursor: pointer;">
                <div class="set-size charts-container">
                    <div class="pie-wrapper progress-30 pie-wrapper-id-<%-value%>">
                        <span class="label">0<span class="smaller">%</span></span>
                        <div class="pie">
                            <div class="left-side half-circle"></div>
                            <div class="right-side half-circle"></div>
                        </div>
                    </div>
                </div>
                <div class="menu-track-title">
                    <%- key %>
                </div>
            </div>
            <% }) %>
        </div>
        <div class="pie-chart-bg minimized"></div>
        <hr style="border: 1px solid #4e4e4e; margin-top: 30px; margin-bottom: 50px;">
        <div class="menu-progress-items">
            <% Object.entries(actions).forEach(([key, value]) => { %>
            <div class="menu-progress-item menu-item-id-<%-value%>">
                <div class="menu-progress-item-header" style="display: block; margin-left: auto; margin-right: auto; width: fit-content;">
                    <div class="set-size charts-container">
                        <div class="pie-wrapper progress-30 pie-wrapper-id-<%-value%>">
                            <span class="label">0<span class="smaller">%</span></span>
                            <div class="pie">
                                <div class="left-side half-circle"></div>
                                <div class="right-side half-circle"></div>
                            </div>
                        </div>
                    </div>
                    <div class="menu-track-title">
                        <%- key %>
                    </div>
                </div>
                <div class="menu-progress-item-map-wrapper" style="display: flex; justify-content: center; align-items: stretch; margin-top: 20px; margin-bottom: 50px;">
                    <div class="left" style="border-right: 2px solid lightgrey; padding-right: 25px; width: 100%; text-align: right;">
                        <span style="font-weight: bold; font-size: 1.1em;">Module Progress</span>
                        <br>
                        <span style="color: lightgrey">The lessons you'll have to take to <br>achieve 100% mastery of this topic</span>
                    </div>
                    <div class="right" style="width: 100%; padding-left: 25px;">
                        <% for( let i = 0; i < window.menuData[value].data.length; i++ ) { %>
                        <% if (window.menuData[value].data[i].currentUserPosition/window.menuData[value].data[i].moduleLength < 0.85) { %>
                        <div class="menu-icon-not-completed"></div>
                        <% } else { %>
                        <div class="menu-icon-completed"></div>
                        <% } %>
                        <a onclick="document.body.style.overflow='auto'" href="#/learn/<%-value%>/<%-i%>/<%-window.menuData[value].data[i].currentUserPosition%>" style="text-decoration: none;">
                            <span><%-window.menuData[value].data[i].title%></span> -
                            <span><%-Math.round(window.menuData[value].data[i].currentUserPosition/window.menuData[value].data[i].moduleLength*100)%>%</span>
                        </a>
                        <br>
                        <br>
                        <% } %>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>

<div id="toggle-theme">
    <a onclick="toggleTheme()" title="Toggle theme" class="my-projects codicon codicon-color-mode" style="position: fixed; top: 60px; left: 10px; width: fit-content;"></a>
</div>

<style>
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    #menu-icon {
        position: fixed;
        top: 60px;
        right: 10px;
        font-size: 1.5em;
        cursor: pointer;
        transition: 0.5s all;
        border-radius: 5px;
        padding: 2px;
        z-index: 2;
    }

    #menu-icon:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    #menu-wrapper {
        background-color: #282C34;
        position: fixed;
        left: 0;
        top: 50px;
        width: calc(100% + 10px);
        height: calc(100% - 50px);
        z-index: 1;
        transition: transform 1s cubic-bezier(0.6, 0.1, 0.25, 1.08);
        padding: 10px;
        overflow: auto;
    }

    #menu-wrapper.closed {
        transform: translateX(100vw);
    }

    .pie-chart-container.minimized {
        background-color: #282c34;
        border-bottom: 1px solid #4e4e4e;
        transform: scale(0.5);
        transform-origin: bottom;
        position: fixed;
        width: 100%;
        z-index: 10;
        top: -60px;
        left: -5px;
    }

    .pie-chart-container {
        transition: 0.5s transform;
    }

    .pie-chart-bg {
        position: fixed;
        top: 50px;
        left: 0;
        width: calc(100vw - 10px);
        height: 100px;
        background-color: #282c34;
        z-index: 1;
    }

    .pie-chart-bg.minimized {
        display: none !important;
    }

    .menu-track-title {
        font-weight: bold;
        text-align: center;
        font-size: 1.2em;
    }

    .set-size {
        font-size: 8em;
    }

    .charts-container:after {
        clear: both;
        content: "";
        display: table;
    }

    .pie-wrapper {
        height: 1em;
        width: 1em;
        float: left;
        margin: 15px;
        position: relative;
    }

    .pie-wrapper:nth-child(3n+1) {
        clear: both;
    }

    .pie-wrapper .pie {
        height: 100%;
        width: 100%;
        clip: rect(0, 1em, 1em, 0.5em);
        left: 0;
        position: absolute;
        top: 0;
    }

    .pie-wrapper::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border: 12px solid #3d5770;
        border-radius: 50%;
        z-index: 0;
        border-width: 13px;
    }

    .pie-wrapper .pie .half-circle {
        height: 100%;
        width: 100%;
        border: 0.1em solid #3498db;
        border-radius: 50%;
        clip: rect(0, 0.5em, 1em, 0);
        left: 0;
        position: absolute;
        top: 0;
        z-index: 2;
    }

    .pie-wrapper .label {
        background: #34495e;
        border-radius: 50%;
        bottom: 0.4em;
        color: #ecf0f1;
        cursor: default;
        display: block;
        font-size: 0.25em;
        left: 0.4em;
        line-height: 2.8em;
        position: absolute;
        right: 0.4em;
        text-align: center;
        top: 0.4em;
        /* outline: 7px solid black; */
    }

    .pie-wrapper .label .smaller {
        color: #bdc3c7;
        font-size: 0.45em;
        padding-bottom: 20px;
        vertical-align: super;
    }

    .pie-wrapper .shadow {
        height: 100%;
        width: 100%;
        border: 0.1em solid #bdc3c7;
        border-radius: 50%;
    }

    .pie-wrapper.progress-30 .pie .half-circle {
        border-color: #3498db;
    }

    .pie-wrapper.progress-30 .pie .left-side {
        transform: rotate(0deg);
    }

    .pie-wrapper.progress-30 .pie .right-side {
        display: none;
    }

    .pie-wrapper.moreThan180 .pie {
        clip: rect(auto, auto, auto, auto) !important
    }

    .menu-icon-not-completed {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 3px solid white;
        position: absolute;
        transform: translateX(-33px);
        background-color: #282C34;
    }

    .menu-icon-completed {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 3px solid white;
        position: absolute;
        transform: translateX(-33px);
        background-color: white;
    }
</style>
<script>
    var actions = '<%-JSON.stringify(actions)%>';
    actions = JSON.parse(actions)
    var allData = window.menuData

    function showMainMenu() {
        document.getElementById("menu-wrapper").classList.toggle("closed");
        if (!document.getElementById("menu-wrapper").classList.contains("closed")) {
            loadMainMenuData();
            document.body.style.overflow = "hidden";
        } else {
            document.body.style.overflow = null;
        }
    }

    function setPiePercentage(percentage, pieWrapper) {
        if (percentage > 50) {
            pieWrapper.classList.add("moreThan180");
            pieWrapper.querySelector(".right-side").style.display = "block";
            pieWrapper.querySelector(".left-side").style.transform = "rotate(180deg)";
            pieWrapper.querySelector(".right-side").style.transform = "rotate(" + (percentage * 3.6) + "deg)";
        } else {
            pieWrapper.classList.remove("moreThan180");
            pieWrapper.querySelector(".right-side").style.display = "none"
            pieWrapper.querySelector(".left-side").style.transform = "rotate(" + (percentage * 3.6) + "deg)";
        }
        pieWrapper.querySelector(".label").innerHTML = percentage + '<span class="smaller">%</span>';
    }
    async function setTargetPercentage(percentage, pieWrapper) {
        for (let i = 0; i < percentage + 1; i++) {
            await new Promise(resolve => setTimeout(resolve, 12));
            setPiePercentage(i, pieWrapper);
        }
    }

    async function loadMainMenuData() {
        Object.entries(actions).forEach(async ([key, value], index) => {
            var totalPages = allData[value].totalPages;
            var userPages = allData[value].userPages;
            let percentage = Math.round((userPages / totalPages) * 100);
            document.querySelectorAll(".pie-wrapper-id-" + value).forEach(element => {
                setTargetPercentage(percentage, element);
            })
        })
    }
    document.getElementById("menu-wrapper").addEventListener("scroll", function() {
        if (this.scrollTop > 200) {
            document.getElementById("menu-wrapper").querySelector(".pie-chart-container").classList.add("minimized")
            document.getElementById("menu-wrapper").querySelector(".pie-chart-bg").classList.remove("minimized")
        } else {
            document.getElementById("menu-wrapper").querySelector(".pie-chart-container").classList.remove("minimized")
            document.getElementById("menu-wrapper").querySelector(".pie-chart-bg").classList.add("minimized")
        }
    })
</script>