<div class="home-row">
	<h3>Frontend</h3>
	<a class="home-module" href="#/learn/webdev/0/">
		<p>Week 1 - HTML</p>
	</a>
	<a class="home-module" href="#/learn/webdev/1/">
		<p>Week 2 - CSS</p>
	</a>
</div>
<div class="home-row">
	<h3>Scripting</h3>
	<a class="home-module" href="#/learn/webdev/2/">
		<p>Week 3 - Javascript</p>
	</a>
	<a class="home-module" href="#/learn/webdev/3/">
		<p>Week 4 - HTML, CSS, & JS</p>
	</a>
</div>
<div class="home-row">
	<h3>Backend</h3>
	<a class="home-module" href="#/learn/webdev/4/">
		<p>Week 5 - Node.JS</p>
	</a>
	<a class="home-module" href="#/learn/webdev/5/">
		<p>Week 6 - Express.JS</p>
	</a>
</div>
<div class="home-row">
	<h3>React</h3>
	<a class="home-module" href="#/learn/webdev/6/">
		<p>Week 7 - JSX & React</p>
	</a>
	<a class="home-module" href="#/learn/webdev/7/">
		<p>Week 8 - Advanced React</p>
	</a>
</div>
<div id="menu-container" class="codicon codicon-loading" style="position: fixed; top: 60px; right: 10px;">
	<% include('/views/menu.html').then(res => {document.getElementById("menu-container").classList.remove("codicon-loading"); document.getElementById("menu-container").innerHTML = res;nodeScriptReplace(document.getElementById("menu-container"))}) %>
</div>
<a href="#/my-projects" class="my-projects codicon codicon-folder" style="position: fixed; top: 60px; right: 50px;"></a>
<a onclick="downloadSaveFile()" title="Download save file" class="my-projects codicon codicon-desktop-download" style="position: fixed; top: 60px; right: 90px;"></a>
<a onclick="loadSaveFile()" title="Load a save file" class="my-projects codicon codicon-cloud-upload" style="position: fixed; top: 60px; right: 130px;"></a>
