.track-header-bg {
    background: gray;
    height: 300px;
}

.track-header-card {
    background-color: var(--darkgray);
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -200px;
    width: 80ch;
    padding: 60px;
}

.track-header-card .backhome {
    color: var(--chakra-colors-gray-300);
    font-size: var(--chakra-fontSizes-xs);
    text-decoration: none;
}

.track-header-card .desc {
    margin-top: 10px;
}

.track-header-card>* {
    display: block;
}

.track-header-card .name {
    font-weight: var(--chakra-fontWeights-extrabold);
    font-size: var(--chakra-fontSizes-4xl);
}

.track-header-card .backhome .codicon {
    margin-right: 5px;
    position: relative;
    top: 1px;
}

header {
    background-color: var(--black)
}

header * {
    color: var(--chakra-colors-gray-200);
}
.track-header-card .time svg {
    fill: var(--chakra-colors-gray-400);
    width: 16px;
    position: relative;
    top: 3px;
    margin-right: 7px;
}
.track-header-card .time {
    margin-top: 15px;
    width: fit-content;
    padding: 4px 12px;
    background-color: var(--chakra-colors-yellow-900);
    border-radius: 100px;
}

.stack-width {
    width: 90vw;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.lesson-chooser {
     position: relative;
     top: -150px;
}
.module-button {
    width: 100%;
    padding: var(--chakra-space-6);
    border: 1px solid var(--chakra-colors-gray-600);
    border-radius: 8px;
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    font-size: 1.05em;
    transition: 0.5s all;
}
.module-button:hover {
    border: 1px solid var(--chakra-colors-blue-400);
}
.module-button .status-indic::before {
    content: "----------";
    display: inline-block;
    background-color: gray;
    border-radius: 100px;
    padding: 4px 12px;
    font-family: "Nunito";
}
.module-button .incomplete::before {
    content: "Incomplete";
    background-color: var(--chakra-colors-gray-600);
}
.module-button .complete::before {
    content: "Completed";
    background-color: var(--chakra-colors-green-600);
}
.module-button .inprogress::before {
    content: "In Progress";
    background-color: var(--chakra-colors-blue-600);
}
.module-button .title {
    color: var(--chakra-colors-gray-200);
    font-size: 1.2em;
}
.module-button .title .week {
    font-weight: normal;
    color: var(--chakra-colors-gray-400);
    margin-right: 15px;
    font-size: 0.8em;
}